<extend name="Base/common"/>
<block name="title">首页</block>
<block name="style">
	<link rel="stylesheet" href="__CSS_HOME__/index/index.css">
</block>
<block name="main-content">
	<div class="main-content">
		<ul>
			<li><a href="{:U('Index/index_detail')}" class="lh-index-link"><img src="__IMG_HOME__/web/index_01.png"
			                                                                    width="200" height="286"><span>这里可以祈福许愿</span></a>
			</li>
			<li><a href="{:U('Index/index_detail')}" class="lh-index-link"><img src="__IMG_HOME__/web/index_02.png"
			                                                                    width="200"
			                                                                    height="286"><span>这里可以祷告、赎罪、做礼拜 </span></a>
			</li>
			<li><a href="{:U('Index/index_detail')}" class="lh-index-link"><img src="__IMG_HOME__/web/index_03.png"
			                                                                    width="200"
			                                                                    height="286"><span>这里可以祈祷、聚礼、做礼拜</span></a>
			</li>
			<li><a href="{:U('Index/index_detail')}" class="lh-index-link"><img src="__IMG_HOME__/web/index_04.png"
			                                                                    width="200"
			                                                                    height="286"><span>这里可以诅咒你任何你想诅咒的</span></a>
			</li>
			<li><a href="" class="lh-index-link"><img src="__IMG_HOME__/web/index_05.png" width="200" height="286"><span>这里你可以发泄不满，述说心事</span></a>
			</li>
			<li><a href="" class="lh-index-link"><img src="__IMG_HOME__/web/index_06.png" width="200" height="286"><span>XXXXXXXXXXXXXX</span></a>
			</li>
			<li><a href="" class="lh-index-link"><img src="__IMG_HOME__/web/index_07.png" width="200" height="286"><span>XXXXXXXXXXXXXX</span></a>
			</li>
			<li><a href="" class="lh-index-link"><img src="__IMG_HOME__/web/index_08.png" width="200" height="286"><span>XXXXXXXXXXXXXX</span></a>
			</li>
			<li><a href="" class="lh-index-link"><img src="__IMG_HOME__/web/index_09.png" width="200" height="286"><span>XXXXXXXXXXXXXX</span></a>
			</li>
			<li>
				<div class="lh-index-addPic"> l
					<img src="__IMG_HOME__/web/addPic.png" alt="上传图片">
					<input type="file" class="lh-hidden-file" accept="image/*">
				</div>
				<a href="" class="lh-index-abtn">开始超度</a>
				<span>这里可以超度任何你想超度的</span>
			</li>
		</ul>
	</div>
</block>
<block name="script">
	<script src="__JS_HOME__/plugin/jquery.form.min.js"></script>
	<script src="__JS_HOME__/index/index.js"></script>
</block>