<extend name="Base/common"/>
<block name="title">经书列表</block>
<block name="style">
	<link rel="stylesheet" href="__CSS_HOME__/jingshu/index.css">
</block>
<block name="main-content">
	<div class="main-content">
		<div class="lh-linkToIndex"><a href="{:U('Index/index')}">&lt;返回首页</a></div>
		<div class="lh-miji">
			<h3 class="lh-miji-title">幸运秘籍</h3>
			<div class="lh-miji-detail">
				富文本内容XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX富文本内容XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX富文本内容XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX富文本内容XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX富文本内容XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX富文本内容XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX富文本内容XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX富文本内容XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX富文本内容XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
			</div>
		</div>
	</div>
</block>
