<script type="text/javascript" src="__JS_HOME__/plugin/jquery.min.js"></script>
<script type="text/javascript" src="__JS_HOME__/plugin/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="__JS_HOME__/global/global.js"></script>
<script>window._bd_share_config = {
	'common': {
		'bdSnsKey': {},
		'bdText': '',
		'bdMini': '1',
		'bdMiniList': ['qzone', 'tsina', 'weixin'],
		'bdPic': '',
		'bdStyle': '0',
		'bdSize': '32'
	}, 'slide': { 'type': 'slide', 'bdImg': '0', 'bdPos': 'right', 'bdTop': '250' }
};
with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
<!-- 用于加载js代码 -->
<block name="script"></block>